<div id="<%= dom_id grade %>">
  <p>
    <strong>Name:</strong>
    <%= grade.name %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= grade.result %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= grade.weight %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= grade.date %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= Semester.find(grade.semester_id).name %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= Promotion.find(grade.promotion_id).name %>
  </p>
  <%if !current_person.student? %>
  <p>
    <strong>Student:</strong>
    <%= Person.find(grade.student_id).fullname %>
  </p>
  <% end %>
  <p>
    <strong>Teacher:</strong>
    <%= Person.find(grade.teacher_id).fullname %>
  </p>

</div>
