<div id="<%= dom_id lecture_promotion %>">
  <p>
    <strong>Lecture:</strong>
    <%= lecture_promotion.lecture_id %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= lecture_promotion.promotion_id %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= lecture_promotion.semester_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= lecture_promotion.person_id %>
  </p>

</div>
